<div layout="column" layout-fill class="main-layout">
  <md-content>
    <md-toolbar class="workout-{{ main.workouts.getCurrentState() }}">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2>
          <span>Workouts - {{ main.lastWorkout.name }}</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="main-section">

      <md-button class="md-raised md-accent" ng-hide="main.continue" ng-click="main.continueLevel()">
        Continue with level {{ main.level.name }}
      </md-button>

      <workouts exercises="main.level.exercises" ng-if="main.continue"></workouts>

    </section>
  </md-content>

</div>
