/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$color: #fff;
$fix-ng-md-icon-padding: 7px;
$state-0-color: red;
$state-1-color: #0044cc;
$state-2-color: rgb(76,175,80);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
@import "main/main";
@import "components/workouts/workouts";


html {
  font-family: 'Roboto', serif;
}

[layout=row] {
  flex-direction: row;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
